<section class="section-top user-edit picture">
  <div class="user-form-box">
    <h2>ユーザー情報編集</h2>
    
    <section class="user_form">
      <%= render 'user_form', user: @user, submit_text: '編集を完了する' %>
    </section>

  </div>
</section>
