<header>
  <div class="header-inner content-width contents-tidy">
    <div class="header-left-block contents-tidy">
      <div class="air6n6-logo">
        <%= image_tag 'lo.png' %>
      </div>
      <div class="search-box area">
        <input class="header-form" type=text placeholder="エリア検索"></input>
        <i class="fas fa-map-marker-alt header-form-icon"></i>
      </div>
      <div class="search-box keyword">
        <input class="header-form" type=text placeholder="キーワード検索"></input>
        <i class="fas fa-search header-form-icon"></i>
      </div>
    </div>
    <div class="header-right-block">
      <button class="login-button login">
        ログイン
      </button>
      <button class="login-button signup">
        登録
      </button>
    </div>
  </div>
</header>

<main>
  <section class="section-top">
    <div class="top-block">
      <h2 class="top-title">Air 6n6 で、<br>不思議な世界を体験しませんか？</h2>
      <span>エリア</span><br>
      <input class="top-search-form" type=text placeholder="東京">
      <div class="top-button">探す</div>
      
    </div>
  </section>
  
</main>