<section class="section-top register-room">

  <div class="reservation-detail">
    <h3 class="title">新しいルームを登録する</h3>
    <%= render 'room_form', room: @room, submit_text: "登録を完了する" %>
  </div>
 
</section>




