// Place all the styles related to the home_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  box-sizing: border-box;
}

html, body, h2, form{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  &:active{
    color: #000000;
  }
}

.section-top {
  padding: 80px 120px;
}

/*header*/
header{
  position: fixed;
  z-index:100;
  width: 100%;
}

.content-width{
  margin-right: 30px;
  margin-left: 30px;
}

.contents-tidy{
  display: flex;
}

.header-inner.contents-tidy{
  justify-content: space-between;
}

.header-inner.contents-tidy{
  align-items:center;
}

.search-box{
  position:relative;
  margin:20px 5px;
}

.header-form{
  position:relative;
  border-radius:20px;
  padding: 10px 0;
  padding-left:32px;
  margin-right:7px;
}

.header-form-icon.area{
  color: #333;
  position:absolute;
  top: 11px;
  left: 14px;
}

.header-form-icon.keyword{
  position:absolute;
  top: 11px;
  right: 160px;
  color: #333;
}

.air6n6-logo {
  height: 80px;
  margin-right: 30px;
}

.air6n6-logo img{
  height: 100%;
  vertical-align: top;
}

.login-button{
  display:inline-block;
  border-radius: 10px;
  margin-left: 8px;
  width: 80px;
  height: 50px;
  text-align:center;
  color:white;
}

.login-button.login{
  background-color: #007bff;;
}

.login-button.signup{
  background-color: gray;
}

.hide{
  display: none;
}

/*home*/
.home_pages{
  .section-top.home {
    padding: 350px 50px;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: right 0;
    background-repeat: no-repeat;
  }

  .top-block{
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    background-color: white;
    opacity: 0.95;
    .top-title{
      padding-bottom: 25px;
    }
    label{
      font-size: 15px;
      color: gray;
    }
  }

  .top-search-form{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
  }

  .top-button{
    text-align: center;
    border-radius:10px;
    width: 100%;
    margin:15px 0;
    padding:7px 0;
    font-size: 15px;
    background-color: #007bff;
    color: white;
  }
}

/* rooms controller */
.rooms{
  padding:90px 0;
  background-color: #fffdf3;
  .section-top.room-list{
    background-color: lightblue;
  }
  .room-block{
    display: flow-root;
    justify-content: space-between;
  }
  .room-box{
    display: inline-block;
    width: 32%;
    margin:5px;
    background-color:white;
    border-radius:10px;
    .room-thunmnail{
      height: 250px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .room-profile{
      padding:0 10px 5px;
      .room-name{
        font-size: 18px;
        font-weight: bold;
        color: #909090;
      }
      .room-location{
        font-size: 16px;
        font-weight: bold;
      }
      .room-price{
        text-align: right;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
  
}